@charset "utf-8";
@import "normalize.css";
@import "reset.css";
body {
  font-size: 12px ;
  line-height: 1;
  background-color: #f1f1f1;
}
.wrap {
  width: 7.5rem;
  margin: 0 auto;
}
.wrap .foot {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 7.5rem;
  height: 1.2rem;
  border-top: 0.01rem solid #eaeaea;
  background-color: #fff;
  font-size: 0.2rem;
  text-align: center;
}
.wrap .foot img {
  width: 0.49rem;
  height: 0.53rem;
}
.wrap .foot p {
  margin-top: 0.13rem;
}
.wrap .foot .home-page {
  color: #f9570c;
}
.wrap .foot .item {
  color: #828282;
}
